{% load staticfiles %}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% block title %} {{ blog.title }} {% endblock %}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>

    <!--BASE CONTAINER STARTS-->
    <div id="page_container">

        <!-- HEADER STARTS HERE -->
        <div id="header">
            {% include 'common/header.html' %}
        </div>
        <!-- HEADER ENDS HERE -->


        <!-- CONTENT BLOCK STARTS HERE -->
        <div id="content_block">
            {% block content %}
            Content
            {% endblock %}
        </div>
        <!--  CONTENT BLOCK STARTS HERE -->


        <!--FOOTER CONTAINER STARTS-->
        <div id="footer">
            <div class="footer_text">
                FOOTER
            </div>
        </div>
        <!--FOOTER CONTAINER ENDS-->

    </div>
    <!--BASE CONTAINER ENDS-->

    <script type="text/javascript" src=""></script>
    <script type="text/javascript">
    </script>
</body>
</html>
