{% extends "blog/base.html" %}
{% load blog_tags %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">

                {% if category %}
                    {% article_box category.slug %}
                {% else %}
                    {% article_box %}
                {% endif %}
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
