{% extends "blog/base.html" %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-preview">
                    <a href="post-embedded-1.html">
                        <h2 class="post-title">
                            Custom Kernel On Virtual Machine.
                        </h2>
                        <h3 class="post-subtitle">
                            Run Your Bootloader + Kernel on a Virtual Machine.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Varun Mohan</a> on October 22, 2015 | Tags <a href="embedded.html">Embedded</a></p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post-programming-1.html">
                        <h2 class="post-title">
                            C : Matrix Multiplication.
                        </h2>
                        <h3 class="post-subtitle">
                            Matrix Multiplication in C using Purely Pointers.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Varun Mohan</a> on October 22, 2015 | Tags <a href="programming.html">Programming</a></p>
                </div>
                <hr>
                <div class="post-preview">
                    <a href="post-linux-1.html">
                        <h2 class="post-title">
                            vmping.
                        </h2>
                        <h3 class="post-subtitle">
                            A Port Test Utility For Bash.
                        </h3>
                    </a>
                    <p class="post-meta">Posted by <a href="#">Varun Mohan</a> on October 22, 2015 | Tags <a href="linux.html">Linux</a></p>
                </div>
                <hr>
                <!-- Pager -->
                <ul class="pager">
                    <li class="next">
                        <a href="#">Older Posts &rarr;</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
