<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-color:crimson">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Purely Binary</h1>
                    <hr class="small">
                    <span class="subheading">Embedded|Linux|Codes</span>
                    <span class="meta">Posted by <a href="#">Varun Mohan</a> on October 22, 2015</span>
                </div>
            </div>
        </div>
    </div>
</header>
