$font-stack:    Helvetica, sans-serif;
$main-bg-color: #413D3E;
$body-bg-color: #FFF;

body {
  font: 100% $font-stack;
  background-color: $body-bg-color;
}

#page_container {
    min-height: 700px;
    width: 1000px;
    margin: auto;
    background-color: $main-bg-color;
}

#header {
    height: 200px;
}
