$font-stack:    Helvetica, sans-serif;
$main-bg-color: #999;

body {
  font: 100% $font-stack;
  background-color: yellow;
}

#page_container {
    min-height: 700px;
    background-color: $main-bg-color;
}
